%form(action="/logout" method="post")
  = Rack::Csrf.tag(env)
  %input(type="submit" value="Logout")

%table
  - user.all_files.each do |file|
    %tr
      %td= file["name"]
      %td
        %a{:href => "/files/#{file["id"]}"} Link
        %a{:href => "/files/#{file["id"]}/download"} Download

%form(action="/files" method="post" enctype="multipart/form-data")
  = Rack::Csrf.tag(env)
  %input(type="file" name="file")
  %input(type="submit")