!= haml :"_nav"
.container
  .row-fluid
    %h3 Upload a File
    %form#upload-form(action="/files" method="post" enctype="multipart/form-data")
      != Rack::Csrf.tag(env)
      .fileupload-buttonbar
        %span.btn.btn-primary.fileinput-button
          %i.icon-upload.icon-white
          %span Upload file
          %input#upload-input(type="file" name="files[]")

        / %input#upload-input(type="file" name="file")
        / %input.btn(type="submit")
  .row-fluid
    %h3 Your Files
    %table#files-table.table.table-striped

%script
  != "window.files = #{user.all_files.to_json}"
%script(id="file_template" type="text/html")
  %tr
    {{#done}}
    %td
      %a{href: "{{path}}"} {{name}}
    %td.file-controls
      %a.btn{href: "{{dlpath}}"}
        %i.icon-download
        Download
      {{>tmp_delete_btn}}
    {{/done}}
    {{^done}}
    %td {{name}}
    %td.file-controls
      .progress.progress-striped.active
        .bar(style="width:100%;")
      {{#path}}
      {{>tmp_delete_btn}}
      {{/path}}
    {{/done}}

%script(id="tmp_delete_btn" class="partial" type="text/html")
  %form.delete-form{action: "{{path}}", method: "post"}
    != Rack::Csrf.tag(env)
    %input(type="hidden" name="_method" value="delete")
    %button.btn.btn-danger.btn-delete-file(type="submit")
      %i.icon-trash
      Delete